<div th:fragment="admin">
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1>管理者ホーム</h1>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<!-- left column -->
					<div class="col-md-6">
						<div class="card card-primary">
							<div class="card-header">
								<h4>拠点別 休み希望提出者数</h4>
							</div>
							<div class="card-body">
								<table class="table table-hover table-bordered text-center">
									<thead class="thead-light">
										<tr>
											<th style="width: 25%">拠点名</th>
											<th style="width: 25%">ドライバー数</th>
											<th style="width: 25%">総提出者数</th>
											<th style="width: 25%"></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>江東</td>
											<td>7</td>
											<td th:text="${submittedNumber.get(0)}" th:styleappend="${__${submittedNumber.get(0)}__ < 7} ? 'color:#FF0000;'"></td>
											<td>
												<a th:href="@{/admin/submitted/detail/1}" class="btn btn-primary">詳細</a>
											</td>
										</tr>
										<tr>
											<td>江戸川</td>
											<td>9</td>
											<td th:text="${submittedNumber.get(1)}" th:styleappend="${__${submittedNumber.get(1)}__ < 8} ? 'color:#FF0000;'"></td>
											<td>
												<a th:href="@{/admin/submitted/detail/2}" class="btn btn-primary">詳細</a>
											</td>
										</tr>
										<tr>
											<td>墨田</td>
											<td>10</td>
											<td th:text="${submittedNumber.get(2)}" th:styleappend="${__${submittedNumber.get(2)}__ < 10} ? 'color:#FF0000;'"></td>
											<td>
												<a th:href="@{/admin/submitted/detail/3}" class="btn btn-primary">詳細</a>
											</td>
										</tr>
										<tr>
											<td>中央</td>
											<td>11</td>
											<td th:text="${submittedNumber.get(3)}" th:styleappend="${__${submittedNumber.get(3)}__ < 11} ? 'color:#FF0000;'"></td>
											<td>
												<a th:href="@{/admin/submitted/detail/4}" class="btn btn-primary">詳細</a>
											</td>
										</tr>
										<tr>
											<td>港</td>
											<td>4</td>
											<td th:text="${submittedNumber.get(4)}" th:styleappend="${__${submittedNumber.get(4)}__ < 4} ? 'color:#FF0000;'"></td>
											<td>
												<a th:href="@{/admin/submitted/detail/5}" class="btn btn-primary">詳細</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!--/.col (left) -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</section>
		<!-- /.content -->
	</div>
</div>