<!-- Main Sidebar Container -->
<aside th:fragment="side_menu" class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/admin" class="brand-link">
    <span class="brand-text font-weight-light">シフト管理アプリ</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a th:href="@{/admin/shift_make}" class="nav-link">
            <p>シフト作成</p>
          </a>
        </li>
        <li class="nav-item">
          <a th:href="@{/admin/shift_search}" class="nav-link">
            <p>シフト確認</p>
          </a>
        </li>
       <li class="nav-item">
          <a th:href="@{/}" class="nav-link">
            <p>社員登録</p>
          </a>
        </li>
       <li class="nav-item">
          <a th:href="@{/}" class="nav-link">
            <p>社員検索</p>
          </a>
        </li>
       <li class="nav-item">
          <a th:href="@{/}" class="nav-link">
            <p>通常画面へ戻る</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
