<div th:fragment="shift_index">
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1></h1>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<!-- left column -->
					<div class="col-md-8 col-md-offset-2">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">シフト確認</h3>
              </div>
							<form th:action="@{/admin/shift_result}" method="post" id="findShift" th:object="${shiftForm}">
								<div class="card-body">
							   	<div class="form-group">
								    <p class="text-danger" th:text="${message1}"></p>
									  <p class="text-danger" th:text="${message2}"></p>
										<label>確認したい拠点を選択してください。</label>
										<select name="area" th:field="*{area}" class="form-control col-6">
											<option value="1">江東</option>
											<option value="2">江戸川</option>
											<option value="3">墨田</option>
											<option value="4">中央</option>
											<option value="5">港</option>
										</select>
									</div>
								</div>
								<div class="card-body">
									<div class="form-group">
										<label>確認したい年/月を入力してください</label>
										<div class="row card-body">
                      <select name="year" id="id_year" th:field="*{year}" class="form-control col-5"></select>
                      <div class="col-1"></div>
                      <select name="month" id="id_month" th:field="*{month}" class="form-control col-5">
                         <option value="01">1月</option>
                         <option value="02">2月</option>
                         <option value="03">3月</option>
                         <option value="04">4月</option>
                         <option value="05">5月</option>
                         <option value="06">6月</option>
                         <option value="07">7月</option>
                         <option value="08">8月</option>
                         <option value="09">9月</option>
                         <option value="10">10月</option>
                         <option value="11">11月</option>
                         <option value="12">12月</option>
                      </select>
                    </div>
                    <script>
                      (function() {
                        'use strict';

                        /*
                          今日の日付データを変数todayに格納
                         */
                        var optionLoop, this_day, this_month, this_year, today;
                        today = new Date();
                        this_year = today.getFullYear();
                        this_month = today.getMonth() + 1;
                        this_day = today.getDate();

                        /*
                          ループ処理（スタート数字、終了数字、表示id名、デフォルト数字）
                         */
                        optionLoop = function(start, end, id, this_day) {
                          var i, opt;

                          opt = null;
                          for (i = start; i <= end ; i++) {
                            if (i === this_day) {
                              opt += "<option value='" + i + "' selected>" + i + '年' + "</option>";
                            } else {
                              opt += "<option value='" + i + "'>" + i + '年' + "</option>";
                            }
                          }
                          return document.getElementById(id).innerHTML = opt;
                        };

                        /*
                          関数設定（スタート数字[必須]、終了数字[必須]、表示id名[省略可能]、デフォルト数字[省略可能]）
                         */
                        optionLoop(2020, this_year, 'id_year', this_year);
                      })();
                    </script>
                    <script>
                      oToday = new Date();
                      month = oToday.getMonth() + 1;
                      console.log(month);
                      oSelectMonth = document.getElementById('id_month');
                      index = -1;
                      for(var i=0; i<oSelectMonth.options.length; i++){
                      value = oSelectMonth.options[i].value;
                      console.log(value);
                      if(value == month){
                      index = i;
                      break;
                      }
                      }
                      console.log(index);
                      oSelectMonth.options[index].selected = true;
                    </script>
                   </div>
                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary float-right" form="findShift">確認</button>
                </div>
              </form>
            </div>
          </div>
          <!--/.col (left) -->

        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
</div>


<div th:fragment="shift_search">
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1></h1>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-8 col-md-offset-2">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">シフト確認</h3>
              </div>
			          <form th:action="@{/shift_result}" method="post" id="findShift" th:object="${shiftForm}">
			             <div class="card-body">
			               <div class="form-group">
			                 <label>確認したい年/月を入力してください</label>
			                 <div class="row card-body">
			                   <select name="year" id="id_year" th:field="*{year}" class="form-control col-5"></select>
			                   <div class="col-1"></div>
			                   <select name="month" id="id_month" th:field="*{month}" class="form-control col-5">
			                      <option value="01">1月</option>
			                      <option value="02">2月</option>
			                      <option value="03">3月</option>
			                      <option value="04">4月</option>
			                      <option value="05">5月</option>
			                      <option value="06">6月</option>
			                      <option value="07">7月</option>
			                      <option value="08">8月</option>
			                      <option value="09">9月</option>
			                      <option value="10">10月</option>
			                      <option value="11">11月</option>
			                      <option value="12">12月</option>
			                   </select>
			                 </div>
			                 <script>
			                   (function() {
			                     'use strict';

			                     /*
			                       今日の日付データを変数todayに格納
			                      */
			                     var optionLoop, this_day, this_month, this_year, today;
			                     today = new Date();
			                     this_year = today.getFullYear();
			                     this_month = today.getMonth() + 1;
			                     this_day = today.getDate();

			                     /*
			                       ループ処理（スタート数字、終了数字、表示id名、デフォルト数字）
			                      */
			                     optionLoop = function(start, end, id, this_day) {
			                       var i, opt;

			                       opt = null;
			                       for (i = start; i <= end ; i++) {
			                         if (i === this_day) {
			                           opt += "<option value='" + i + "' selected>" + i + '年' + "</option>";
			                         } else {
			                           opt += "<option value='" + i + "'>" + i + '年' + "</option>";
			                         }
			                       }
			                       return document.getElementById(id).innerHTML = opt;
			                     };

			                     /*
			                       関数設定（スタート数字[必須]、終了数字[必須]、表示id名[省略可能]、デフォルト数字[省略可能]）
			                      */
			                     optionLoop(2020, this_year, 'id_year', this_year);
			                   })();
			                 </script>
			                 <script>
			                   oToday = new Date();
			                   month = oToday.getMonth() + 1;
			                   console.log(month);
			                   oSelectMonth = document.getElementById('id_month');
			                   index = -1;
			                   for(var i=0; i<oSelectMonth.options.length; i++){
			                   value = oSelectMonth.options[i].value;
			                   console.log(value);
			                   if(value == month){
			                   index = i;
			                   break;
			                   }
			                   }
			                   console.log(index);
			                   oSelectMonth.options[index].selected = true;
			                 </script>
			                </div>
			             </div>
			             <div class="card-footer">
			               <button type="submit" class="btn btn-primary float-right" form="findShift">確認</button>
			             </div>
			          </form>
              </div>
            </div>
          <!--/.col (left) -->

        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
</div>