<div th:fragment="shift_index">
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>シフト検索</h1>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <form th:action="@{/admin/shift_make}" method="post"
            id="findShift" th:object="${shiftForm}">
            <div class="form-group">
              <label>作成したい拠点を選択してください。</label>
              <select name="area"
                th:field="*{area}">
                <option value="1">江東</option>
                <option value="2">江戸川</option>
                <option value="3">墨田</option>
                <option value="4">中央</option>
                <option value="5">港</option>
              </select>
            </div>
            <div class="form-group">
              <label>作成したい年/月を入力してください</label> <input type="text"
                class="form-control" th:field="*{designatedDate}">
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-primary" form="findShift">確認</button>
            </div>
          </form>
          <!--/.col (left) -->

        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
</div>