<div th:fragment="initialize">
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1>パスワード初期化</h1>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<!-- left column -->
					<div class="col-md-6">
						<!-- general form elements -->
						<div class="card card-primary">
							<div class="card-header">
								<h3 class="card-title">新しいパスワードを入力してください。</h3>
							</div>
							<th:block sec:authorize="hasRole('ADMIN')">
								<form th:action="@{/admin/initialize/password/{id} (id=${id})}" method="post" th:object="${passChangeConfirmForm}">
									<div class="card-body">
										<div class="form-group">
											<label for="password">新しいパスワード</label>
											<input type="password" name="password" th:field=*{password} id="password" class="form-control" placeholder="8桁以上の半角英数字で入力してください。">
											<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="has-error text-danger"></div>
										</div>

										<div class="form-group">
											<label for="passwordConfirm">新しいパスワード(確認用)</label>
											<input type="password" name="passwordConfirm" th:field=*{passwordConfirm} id="passwordConfirm" class="form-control" placeholder="8桁以上の半角英数字で入力してください。">
											<div th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" class="has-error text-danger"></div>
										</div>
									</div>
									<div class="card-footer">
										<button type="submit" class="btn btn-primary float-right">変更</button>
									</div>
								</form>
							</th:block>
							<th:block sec:authorize="hasRole('USER')">
								<form th:action="@{/user/change/password}" method="post" th:object="${passChangeConfirmForm}">
									<div class="card-body">
										<div class="form-group">
											<label for="password">新しいパスワード</label>
											<input type="password" name="password" th:field=*{password} id="password" class="form-control" placeholder="8桁以上の半角英数字で入力してください。">
											<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="has-error text-danger"></div>
										</div>

										<div class="form-group">
											<label for="passwordConfirm">新しいパスワード(確認用)</label>
											<input type="password" name="passwordConfirm" th:field=*{passwordConfirm} id="passwordConfirm" class="form-control" placeholder="8桁以上の半角英数字で入力してください。">
											<div th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" class="has-error text-danger"></div>
										</div>
									</div>
									<div class="card-footer">
										<button type="submit" class="btn btn-primary float-right">変更</button>
									</div>
								</form>
							</th:block>
						</div>
					</div>
					<!--/.col (left) -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</section>
		<!-- /.content -->
	</div>
</div>