<div th:fragment="confirm">

	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1>休み希望確認</h1>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<!-- left column -->
					<div class="col-sm-6 col-md-12 col-lg-6">
						<div class="card card-primary">
							<div class="card-header">
								<h3 class="card-title" th:text="|${year}年${month}月 休み希望日|"></h3>
							</div>
							<div class="card-body">
								<div th:if="${shiftResult}" class="container">
									<!-- 休み希望日を表示するテーブル -->
									<table class="table text-center table-bordered" th:object=${shiftResult}>
										<tr class="thead-light">
											<th></th>
											<th>休み希望日</th>
										</tr>
										<tr th:each="holiday, stat : *{attendanceList}">
											<td th:text="${stat.index + 1}"></td>
											<td th:text="*{attendanceList[__${stat.index}__].convertedDate}"></td>
										</tr>
									</table>
									<div class="card-footer">
										<a th:href="@{'/user/fix/holiday'}" class="btn btn-primary float-right">休み希望日を変更する</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--/.col (left) -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</section>
		<!-- /.content -->
	</div>

</div>