<div th:fragment="confirm">

	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 th:text="|${year}年${month}月 休み希望日|"></h1>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-6">
						<!-- 休み希望日を表示するテーブル -->
						<p class="text-danger" th:text="${message}"></p>
						<a th:href="@{'/user/attendances'}" class="btn btn-primary">休み希望日を登録する</a>
					</div>
				</div>
			</div>
		</section>

	</div>

</div>