<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.masahiro.nakamoto.mybatis.UserMapper">

	<!-- マッピ　ング定義 -->
	<resultMap type="com.masahiro.nakamoto.domain.SiteUser" id="user">
	  <result column="id" property="id" />
	  <result column="password" property="password" />
	  <result column="pass_update_date" property="passUpdateDate" />
	  <result column="login_miss_times" property="loginMissTimes" />
	  <result column="unlock" property="unlock" />
	  <result column="enabled" property="enabled" />
	  <result column="user_due_date" property="userDueDate" />
	  <result column="role" property="role" />
	</resultMap>

	<resultMap type="com.masahiro.nakamoto.domain.Employee" id="employee">
	  <id column="id" property="id" />
	  <result column="last_name" property="lastName" />
	  <result column="first_name" property="firstName" />
	  <result column="position_id" property="positionId" />
	  <result column="sex" property="sex" />
	  <result column="date_of_birth" property="dateOfBirth" />
	  <result column="phone_number" property="phoneNumber" />
	  <result column="postal_code" property="postalCode" />
	  <result column="address" property="address" />
	  <result column="join_date" property="joinDate" />
	  <result column="password" property="password" />
	  <result column="pass_update_date" property="passUpdateDate" />
	  <result column="role" property="role" />
	</resultMap>

  <resultMap type="com.masahiro.nakamoto.domain.Driver" id="driver">
	  <id column="id" property="id" />
	  <result column="last_name" property="lastName" />
	  <result column="first_name" property="firstName" />
	  <result column="position_id" property="positionId" />
	  <result column="sex" property="sex" />
	  <result column="date_of_birth" property="dateOfBirth" />
	  <result column="phone_number" property="phoneNumber" />
	  <result column="postal_code" property="postalCode" />
	  <result column="address" property="address" />
	  <result column="join_date" property="joinDate" />
	  <result column="password" property="password" />
	  <result column="pass_update_date" property="passUpdateDate" />
	  <result column="role" property="role" />
	  <result column="area_id" property="areaId" />
	  <result column="course_id" property="courseId" />
	  <result column="daily_wages" property="dailyWages" />
	  <result column="monthly_expenses" property="monthlyExpenses" />
	</resultMap>

	<resultMap type="com.masahiro.nakamoto.domain.form.InfomationForm" id="infomationForm">
	  <id column="id" property="id" />
	  <result column="phone_number" property="phoneNumber" />
	  <result column="postal_code" property="postalCode" />
	  <result column="address" property="address" />
	</resultMap>

	<select id="identifyUser" resultMap="user">
	  SELECT
	    id,
	    password,
	    role,
	    pass_update_date
	  FROM
	    users
	  WHERE
	    id = #{id}
	</select>

  <!-- 社員情報の追加 -->
  <insert id="createEmployee">
    INSERT INTO users (
      id,
      password,
      role,
      position_id,
      pass_update_date
    )
    VALUES (
      #{id},
      #{password},
      #{role},
      #{positionId},
      NOW()
    )
  </insert>

  <!-- 社員情報を更新 -->
  <update id="updateEmployee">
    UPDATE
      users
    SET
      id = #{id},
      role = #{role},
      pass_update_date = NOW()
    WHERE
      id = #{previousId}
  </update>

  <!-- 社員情報を削除 -->
  <delete id="deleteEmployee">
    DELETE FROM users WHERE id = #{id}
  </delete>

  <!-- ドライバー情報の追加 -->
  <insert id="createDriver">
    INSERT INTO users (
      id,
      password,
      role,
      position_id,
      pass_update_date
    )
    VALUES (
      #{id},
      #{password},
      #{role},
      #{positionId},
      NOW()
    )
  </insert>

  <!-- ドライバー情報を更新 -->
  <update id="updateDriver">
    UPDATE
      users
    SET
      id = #{id},
      role = #{role},
      pass_update_date = NOW()
    WHERE
      id = #{previousId}
  </update>

  <!-- ドライバー情報を削除 -->
  <delete id="deleteDriver">
    DELETE FROM users WHERE id = #{id}
  </delete>

  <!-- 拠点IDとコースIDからドライバーのメールアドレスを取得 -->
  <select id="getId" resultType="string">
    SELECT
      users.id
    FROM
      users
    INNER JOIN
      drivers
    ON
      users.id = drivers.id
    WHERE
      area_id = #{areaId} AND course = #{courseId}
  </select>

  <!-- 拠点IDとコースIDからドライバーのメールアドレスを取得 -->
  <select id="getPassword" resultType="string">
    SELECT
      users.password
    FROM
      users
    WHERE
      id = #{id}
  </select>

  <!-- パスワードを更新 -->
  <update id="changePassword">
    UPDATE
      users
    SET
      password = #{password}
    WHERE
      id = #{id}
  </update>

	<!-- idを更新 -->
  <update id="updateInfomation">
    UPDATE
      users
    SET
      id = #{id}
    WHERE
      id = #{previousId}
  </update>

</mapper>
